site_name: Android Development & Tools
site_url: https://ven0m0.github.io/android
site_description: >-
  Curated resources, tools, and configurations for Android development,
  customization, and AI-assisted workflows.
repo_url: https://github.com/Ven0m0/android
repo_name: Ven0m0/android
edit_uri: edit/main/docs/
docs_dir: docs
site_dir: site

theme:
  name: material
  custom_dir: docs/overrides
  font:
    text: Inter
    code: JetBrains Mono
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: deep orange
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: deep orange
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.action.view
    - content.tooltips
    - header.autohide
  icon:
    repo: fontawesome/brands/github
    logo: material/android

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.smartsymbols
  - tables
  - attr_list
  - md_in_html
  - def_list
  - abbr
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: "#"
      toc_depth: 3

plugins:
  - search:
      separator: '[\s\-\.]+'

nav:
  - Home:
      - index.md
  - Android:
      - Android Apps: Android-Apps.md
      - ADB Commands: ADB-Commands.md
  - Device Mods:
      - Nothing Phone 2: Nothing-Phone.md
  - Browser:
      - Chromium Build: Chromium-Browser.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Ven0m0/android
      name: GitHub Repository
  generator: false

extra_css:
  - stylesheets/extra.css

copyright: >-
  <span class="footer-brand">Android Development &amp; Tools</span>
  &nbsp;&middot;&nbsp;
  <a href="https://github.com/Ven0m0/android">Source on GitHub</a>
